@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* .playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============MainBody==========*/


body {
    background-color: white;
    max-width: 100%;
    height: auto;
}




.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: auto;
}


.trained {
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: #FF2B83;
    height: 40px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
}

.tovs {
    padding-top: 10px;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 10s linear infinite;

    font-family: "Poppins", sans-serif;
}


@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-160%);
    }
  }
  


.header1 {
    direction: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.17);
    background-color: white;
    height: 70px;
    
}

.header1 img {
    width: 25%;
    position: relative;
    bottom: 15px;

}


#hero {
    margin-top: 110px;
    /* background-image: url('image/2.jpg'); */

    background: linear-gradient(to bottom, #131212b8, #100f0fb2), url("image/2.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}


.heroinfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 70px 10px;
    
}


.heroinfo h2 {
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    width: 100%;
    font-size: 350%;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    

}

.heroinfo p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}


.heroinfo button {
    padding: 15px 13px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 4px;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #FF2B83;
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
}


#hero-title, #hero-text {
    transition: opacity 0.5s ease-in-out;
}



#offer {
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    color: rgb(33, 33, 33);
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.offertext h3 {
    font-family: "Playfair Display", serif;
    font-size: 200%;
    color: #FF2B83;
    margin-bottom: 10px;
}

.offertext hr {
    width: 53%;
    background-color: #323232;
    height: 3px;
    border: none;
    margin-bottom: 50px;
}

.offertext h5 {
    font-weight: 400;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
}


/*--------------Course Outline---------------------------------*/


#course {
    padding-left: 20px;
    padding-right: 20px;
}




.cimage {
    margin-bottom: 20px;
}



.ctext h3 {
    font-family: "Playfair Display", serif;
    font-size: 200%;
    color: #FF2B83;
    margin-bottom: 10px;
}

.ctext hr {
    width: 65%;
    background-color: #323232;
    height: 3px;
    border: none;
    margin-bottom: 50px;
}


.ctext p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}

.coutline {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    gap: 18px;
    margin-bottom: 20px;
}

.coutline .material-symbols-outlined {
    color: #FF2B83;
}

.coutline h5 {
    padding-top: 4px;
    font-weight: 500;
    font-size: 15px;
}

.bonus h4 {
    background-color: #FF2B83;
    width: 80px;
    font-family: "Poppins", sans-serif;
    padding-left: 15px;
    padding-top: 4px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
    height: 30px;
    color: white;

}

.bonus h5 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: rgb(44, 44, 44);
    margin-top: 50px;
}


.price {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 70px;
    font-family: "Poppins", sans-serif;
}

.price h5 {
    font-weight: 300;
    font-size: 15px;
}

.price h3{
    font-size: 25px;
    color: #FF2B83;
}

.launch p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin-top: 5px;
}


.launch-time{
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    
}

.launch-time p {
    font-style: normal;
}

.launch-time div {
    flex-basis: 100px;
    margin-right: 20px;
}

.launch-time p{
    font-size: 50px;
    margin-bottom: -8px;
}

/* .launch-time span {
    background-color: #FF2B83;
    padding: 5px 7px;
} */

.coutline1 hr {
    margin-top: 50px;
}


#course button {
    padding: 15px 50px;
    /* margin-right: 90px;
    margin-left: 90px; */
    border-radius: 4px;
    border: none;
    font-family: "Poppins", sans-serif;
    background-color: #FF2B83;
    color: white;
    font-size: 20px;
    position: relative;
    top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
    animation: shake 2s ease-in-out infinite;

    animation-delay: 10s, 0s; 
}

/* .pause {
    animation-play-state: paused;
  } */
  

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

